header img {
  height: 80px;
  margin-left: 40px;
}
body {
  height: 125vh;
  background-image: url("../images/bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  font-family: sans-serif;
  margin-top: 80px;
  padding: 20px;
}

main {
  color: white;
}

header {
  background-color: white;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 80px;
  display: flex;
  align-items: center;
  box-shadow: 0 0 25px 0 black;
}

header * {
  display: inline;
}

header li {
  margin: 20px;
}

header li a {
  color: black;
  text-decoration: none;
}

/* drop down for student/teacher*/
.dropdown {
  position: relative;
  display: inline-block;
}

/* Style the dropdown button text */
.dropdown button {
  padding: 10px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

/* Style the dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

/* Style the dropdown options */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown options on hover */
.dropdown-content a:hover {
  background-color: #f1f1f1;
}

/* Show the dropdown content when the button is clicked */
.dropdown:hover .dropdown-content {
  display: block;
}

i {
  margin: 2%;
}

.container {
  position: relative;
  width: 200px;
  height: 200px;
}

.image {
  display: inline-flex;
  width: 200px;
  height: 200px;
}

.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #008cba;
  overflow: hidden;
  width: 0;
  height: 100%;
  transition: 0.5s ease;
}

.container:hover .overlay {
  width: 100%;
}

.text {
  white-space: nowrap;
  color: white;
  font-size: 20px;
  position: absolute;
  overflow: hidden;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.container-box {
  display: flex;
  justify-content: space-around;
}
.container-box2 {
  display: flex;
  justify-content: space-around;
}
h1 {
  text-align: center;
  font-weight: 500;
}
#idh1 {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
  width: fit-content;
}
#head1 {
  display: flex;
  justify-content: center;
}

h1 {
  margin: 0;
  font-size: 24px;
}
